body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-image: url("http://pm1.narvii.com/7713/787c483b90a527037d0c9c69d4f27fdfa810ccafr1-745-392v2_uhq.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    background-color: #FFD700;
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    background-color: #FFD700;
    color: #ffffff;
    margin-top: 16px;
   }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  @media (max-height: 500px) {
    body {
      min-height: 800px;
    }
  }
  
  input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .resultado {
    background-color: #FFD700;
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
    
   }